# Editor
.vscode/
.idea/
__pycache__/
*.py[cod]

# Local Environment
.env
.env.example
venv/
env/

# Build Artifacts
build/
dist/
*.spec
*.exe

# Valid Release Folders (Exclude binaries, keep docs if needed, but better to ignore whole folder if it contains huge exe)
release/
release_v2/
release_v3/

# Logs
run_log.txt
*.log

# Data
data/
*.model
*.pkl